.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;

  * {
    color: $textColor;
  }
  .form {
    background: $background;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
    direction: rtl;
    input {
      background-color: $darkInput;
      padding: 0.8rem;
      margin-bottom: 0.5rem;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 1rem;
    }

    button {
      width: 100%;
      padding: 0.8rem;
      background-color: #0070f3;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      min-height: 40px;

      &:hover {
        background-color: #0059c1;
      }
    }
  }
}
